body
{
    background-color: black;
}

main
{
    width: 1200px;
    height: 800px;
    border: 2px solid rgb(16, 16, 16);
    position: relative;
    background-color: black;
    margin: auto;
  }    
  /* Størrelse på selve bildet i spillet*/
#bilde{
    width: 1200px;
    height: 800px;
    
}
.inMain
{
    position: absolute;

/* Størrelsen på beskjeden*/
}
#clue
{
    width: 100%;
    height: 100%;
}
/* Størrelse og plasseringen av fjernkontrollen samt animasjonen, også lager animation */
#fjernkontroll
{
    width: 20px;
    height: 30px;
    left: 620px;
    top: 655px;

    animation-name: visFjernkontroll;
    animation-duration: 1s;
    animation-fill-mode: forwards;

/* Keyframes til fjernkontroll, rotasjonen og gradene til fjernkontrollen under animasjonen i tilegg posisjon og størrelse*/
}
@keyframes visFjernkontroll
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(-360deg);
        width: 70px;
        height: 100px;
        left: 400px;
        top: 500px;
    }
/* Her lager jeg en animasjon som kommer på skjermen i spillet*/
}
#beskjed
{
    opacity: 0.0;
    animation-name: showMessage;
    animation-duration: 1.0s;
    animation-delay: 1.0s;
    animation-fill-mode: forwards;

/* opacity på message*/
}
@keyframes showMessage
{
    0%{opacity: 1.0}
    30%{opacity: 0.0}
    60%{opacity: 1.0}
    80%{opacity: 0.0}
    100%{opacity:1.0}
}

/* Lager animasjon og posjonering av alle lampene og størrelse, dette gjør så lampene gynger fra side til side hele tiden*/
#lampeBox1 {
    height: 10px;
    width: 10px;
    position: absolute;
    margin-top: 3px;
    margin-left: 350px;
    z-index: 10;
    animation-name: lampe;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    transform: rotate(5deg); 
}
/* lager størrelsen og posisjonen til lampe1*/
#lampe1{
    height: 129px;
    width: 64px;
    position: absolute;
    background-image: url("../images/lampe11.png");
    margin-left: -26px;
}
/* /* animasjonen og størrelsen til lampe2 */
#lampeBox2 {
    height: 10px;
    width: 10px;
    position: absolute;
    margin-top: 120px;
    margin-left: 1020px;
    z-index: 10;
    animation-name: lampe;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    transform: rotate(5deg); 
}

#lampe2{
    height: 79px;
    width: 32px;
    position: absolute;
    background-image: url("../images/lampe12.png");
    margin-left: -15px;
}
/* animasjonen og størrelsen til lampe3*/
#lampeBox3 {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 110px;
    left: 360px;
    z-index: 9;
    animation-name: lampe;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    transform: rotate(5deg); 
}

#lampe3{
    height: 79px;
    width: 32px;
    position: absolute;
    background-image: url("../images/lampe13.png");
    margin-left: -15px;
}
/*  animasjon som gjør at lampene roterer seg gradvis*/
@keyframes lampe{
    0%{transform: rotate(5deg);}
    10%{transform: rotate(-5deg);}
    20%{transform: rotate(5deg);}
    30%{transform: rotate(-5deg);}
    40%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg);}
    60%{transform: rotate(5deg);}
    70%{transform: rotate(-5deg);}
    80%{transform: rotate(5deg);}
    90%{transform: rotate(-5deg);}
    100%{transform: rotate(5deg);}
}
/* plassering og størrelse av div på dør på venstre side*/
#exit{
 width: 50px;
 height: 60px;
 left: 215px;
 top: 400px;
 

}
/* shadow på døren og animasjon på døren når clue har kommet opp og man kan gå videre*/
#doorShadow{
 width: 52px;
 height: 62px;
 left: 213px;
 top: 400px;
 background-color: black;
 opacity: 0.8;
 
 animation-name: enableExit;
 animation-duration: 0.5s;
 animation-delay: 3.2s;
 animation-fill-mode: forwards;
}
/* animasjon for shadow på døren*/
@keyframes enableExit
{
    0%
    {
        left: 215px;
        opacity: 0.8;
    }
    99%
    {
        left: 215px;
        opacity: 0.0;
    }
    100%
    {
        left: -100px;
        opacity: 0.0;
    }
}