body{
    background-color: black;
}

/* main container */
.main{
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  width: 1200px;
  height: 800px;
  background: url(../images/darkHallway.jpg);
  background-size: 1200px 800px;
  background-position: center;
  z-index: 1;
}
/* posisjon på knapper og en transform som gjør at det ser ut som om knappene kommer mot deg når siden lastes*/
.button{
    position: absolute;
    top: 400px;
    left: 600px;
    transform: translate(-50%,-50%);
}
/* styling på knappene*/
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
/* hover på knapper som fyller selve knappen med en bakgrunnsfarge og gjør om fargen på teksten i knappen*/
.btn:hover{
    background-color: #fff;
    color: #000;
}
/* Styling på tekst*/
p {
   position: absolute;
   left:300px;
   text-align: center;
   font: 24px 'Courier';
   color: red;
}
/*Hover effekt med rotasjon på navn på rom*/
p:hover{
    position: absolute;
    transform: rotate(180deg);
}
/* posisjonering av tekstboksen for gåten, cursor: help er med for å få et spørsmålstegn på musa ettersom at det er en gåte*/
.clue {
  top: 230px;
  margin: auto;
  position: absolute;
  color: white;
  cursor: help;
}
/* Hover effekt med skew på tekst gåte */
.clue:hover{
 position: absolute;
 transform: skewX(60deg);
 transition: ease;
}
/* Animasjon som gjør at det ser ut som om lyset blinker*/
.blink
{
  position: absolute;
  z-index: 20;
  display: inline-block;
  height: 1px;
  width: 1px;
  left: 400px;
  bottom: 800px;
  opacity: 0;
  border-radius: 50%;
  animation: lightningStrikes 5s linear infinite;
}

@keyframes lightningStrikes{
  0% {
    opacity:0;
    box-shadow: 200px 200px 200px 200px rgb(218, 199, 172);
  }
  2% {
    opacity:0.5;
    box-shadow: 200px 200px 200px 200px rgb(218, 199, 172);
  }
  4% {
    opacity:0;
    box-shadow: 200px 200px 200px 200px rgb(218, 199, 172);
  }
  8% {
    opacity:0.5;
    box-shadow: 200px 200px 200px 200px rgb(218, 199, 172);
  }
  10% {
    opacity:0;
    box-shadow: 200px 200px 200px 200px rgb(218, 199, 172);
  }
  100% {
    opacity:0;
    box-shadow: 200px 200px 200px 200px rgb(218, 199, 172);
  }
}
